In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = [
    'This this is the first document.......',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first documents?',
]
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)


print(X.shape)

(4, 10)

In [3]:
vectorizer.get_feature_names_out()

array(['and', 'document', 'documents', 'first', 'is', 'one', 'second',
       'the', 'third', 'this'], dtype=object)

In [4]:
print(X)

  (0, 1)	0.46481027991053925
  (0, 3)	0.46481027991053925
  (0, 7)	0.3076531616877931
  (0, 4)	0.3076531616877931
  (0, 9)	0.6153063233755862
  (1, 6)	0.48205640943110045
  (1, 1)	0.7601176203120775
  (1, 7)	0.2515570322461684
  (1, 4)	0.2515570322461684
  (1, 9)	0.2515570322461684
  (2, 5)	0.511848512707169
  (2, 8)	0.511848512707169
  (2, 0)	0.511848512707169
  (2, 7)	0.267103787642168
  (2, 4)	0.267103787642168
  (2, 9)	0.267103787642168
  (3, 2)	0.6403749295935449
  (3, 3)	0.5048789499185483
  (3, 7)	0.3341742038105307
  (3, 4)	0.3341742038105307
  (3, 9)	0.3341742038105307

In [5]:
feature_value = X.toarray()

In [6]:
print(feature_value)

[[0.         0.46481028 0.         0.46481028 0.30765316 0.
  0.         0.30765316 0.         0.61530632]
 [0.         0.76011762 0.         0.         0.25155703 0.
  0.48205641 0.25155703 0.         0.25155703]
 [0.51184851 0.         0.         0.         0.26710379 0.51184851
  0.         0.26710379 0.51184851 0.26710379]
 [0.         0.         0.64037493 0.50487895 0.3341742  0.
  0.         0.3341742  0.         0.3341742 ]]

In [7]:
data = pd.DataFrame(data = feature_value, columns = vectorizer.get_feature_names_out())

In [8]:
data.head()

,and,document,documents,first,is,one,second,the,third,this
0,0.000000,0.464810,0.000000,0.464810,0.307653,0.000000,0.000000,0.307653,0.000000,0.615306
1,0.000000,0.760118,0.000000,0.000000,0.251557,0.000000,0.482056,0.251557,0.000000,0.251557
2,0.511849,0.000000,0.000000,0.000000,0.267104,0.511849,0.000000,0.267104,0.511849,0.267104
3,0.000000,0.000000,0.640375,0.504879,0.334174,0.000000,0.000000,0.334174,0.000000,0.334174